doctype html
html(lang="jp")
  head
    title gulp-devserver-php test with gulp
    style.
      *{font-size: 100%}
  body
    h1 test with gulp
    :php
      echo '<h2>PHP works!</h2>';
      var_dump([1, 2, 3]);
